workflows/WF-04-email-manual.json
{
  "updatedAt": "2026-04-07T01:26:14.881Z",
  "createdAt": "2026-03-31T02:08:39.727Z",
  "id": "Tf1MIWqHpQ9NKZpa",
  "name": "WF-04 Email Manual con Aprobación",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "wf4-trigger",
      "name": "Telegram: Email Manual",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "e93e1b5b-e114-4e95-be66-839d011a1fad",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const u = $input.first().json;\nlet tipo='ignorar', chatId='', texto='', callbackData='', callbackQueryId='';\nlet explicitToEmail='', explicitAsunto='', explicitCuerpo='';\n\nif (u.callback_query) {\n  tipo = 'callback';\n  chatId = String(u.callback_query.from.id);\n  callbackData = u.callback_query.data || '';\n  callbackQueryId = String(u.callback_query.id);\n} else if (u.message?.text) {\n  chatId = String(u.message.chat.id);\n  texto = u.message.text;\n  const t = texto.toLowerCase().trim();\n\n  // Confirmaciones\n  if (['confirmar','si','sí','yes','enviar','enviarlo','envíalo','envialo','ok','listo','dale','mandar'].includes(t)) {\n    tipo = 'confirmar_texto';\n\n  // Cancelaciones\n  } else if (['cancelar','no'].includes(t)) {\n    tipo = 'cancelar_texto';\n\n  // Guardar memoria SOLO si explícito\n  } else if (/\\b(recuerda|guarda|memoriza|guárdalo|guardar en memoria|guarda esto|ten en cuenta siempre)\\b/i.test(t)) {\n    tipo = 'guardar_memoria';\n\n  // Feedback/modificación del draft (incluye \"coloca\", \"pon\", \"cambia\", \"debes\", etc.)\n  } else if (/^(aplic|regenera|reescribe|mejora|cambia|corrige|hazlo|coloca|pon |agrega|quita|elimina|modifica|actualiza|debes)/i.test(t)\n    || t.includes('más profesional') || t.includes('aplícalo')\n    || /\\b(el cuerpo|el asunto|en el cuerpo|en el asunto|cuerpo debe|asunto debe)\\b/i.test(t)) {\n    tipo = 'feedback';\n\n  // Email con contenido explícito (asunto: X o cuerpo: X en el mensaje)\n  } else {\n    const emailMatch = texto.match(/([a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})/);\n    const asuntoMatch = texto.match(/asunto[:\\s]+([^\\n\\r]+)/i);\n    const cuerpoMatch = texto.match(/cuerpo[:\\s]+([\\s\\S]+)/i);\n\n    if (emailMatch && (asuntoMatch || cuerpoMatch)) {\n      tipo = 'nuevo_email';\n      explicitToEmail = emailMatch[1];\n      explicitAsunto = asuntoMatch ? asuntoMatch[1].trim() : '';\n      explicitCuerpo = cuerpoMatch ? cuerpoMatch[1].trim() : '';\n    } else if (t.includes('correo') || t.includes('email') || t.includes('redacta') || t.includes('escribe un') || t.startsWith('/email') || t.includes('presenta') || t.includes('envía un') || t.includes('envia un') || t.includes('envíame')) {\n      tipo = 'nuevo_email';\n    } else {\n      tipo = 'instruccion_ignorar';\n    }\n  }\n}\n\nreturn [{ json: { tipo, chatId, texto, callbackData, callbackQueryId, explicitToEmail, explicitAsunto, explicitCuerpo } }];"
      },
      "id": "wf4-router",
      "name": "Router tipo mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.tipo }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "callback"
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-if-callback",
      "name": "¿Es callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c2",
              "leftValue": "={{ $json.tipo }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "nuevo_email"
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-if-new-email",
      "name": "¿Es solicitud de email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 1500, messages: [{ role: 'system', content: 'Eres el asistente de Simón Marín Rojas, Ingeniero Comercial y Analista de Procesos y Automatización (contacto@simonmarin.com | +56 9 8401 3356 | Santiago, Chile). Redactas emails profesionales de presentación en su nombre para empresas y reclutadores chilenos.\\n\\nREGLAS OBLIGATORIAS:\\n1. Estructura el cuerpo en 3-4 párrafos SEPARADOS por salto de línea doble (\\\\n\\\\n)\\n2. Párrafo 1: Presentación directa y propósito del contacto\\n3. Párrafo 2: Logros cuantificables más relevantes (automatización, reducción de costos, eficiencia)\\n4. Párrafo 3: Habilidades diferenciales específicas (n8n, Notion ERP, VPS, Google Apps Script)\\n5. Párrafo 4 (opcional): CTA para reunión o llamada\\n6. Tono: formal pero directo, sin frases genéricas ni clichés\\n7. NUNCA incluir firma, nombre, despedida ni Atentamente al final\\n8. NUNCA escribir todo en un solo párrafo\\n9. Si en el mensaje aparece \"cuerpo: [texto]\" o \"asunto: [texto]\", USA ESE TEXTO LITERALMENTE en el JSON, sin reescribirlo, sin expandirlo\\n\\nPERFIL REAL DE SIMÓN (usa SIEMPRE estos datos concretos, no inventes cifras):\\n- Empresa: Bioproterra SpA (PYME construcción y servicios) — rol: Analista de Procesos y Sistemas\\n- Logro 1: Implementó ERP completo en Notion + Google Apps Script, automatizando más del 75% de los procesos operativos\\n- Logro 2: Redujo en 80% el tiempo de elaboración de contratos y documentación\\n- Logro 3: Automatizó el departamento de licitaciones completo (desde alerta de publicación hasta presentación final)\\n- Logro 4: Administra n8n self-hosted en VPS propio, integrando más de 8 sistemas de la empresa\\n- Formación: Ingeniería Comercial + Minor Emprendimiento e Innovación, UCN Coquimbo (egresado 2025)\\n- Stack técnico: n8n, Notion (ERP avanzado), Google Apps Script, Power BI, Excel avanzado, BPMN\\n- Diferencial único: combina perfil analítico-financiero con capacidad técnica real de implementación' + $('Formatear Memoria').first().json.memoryRules }, { role: 'user', content: 'Solicitud de Simón: ' + $('Router tipo mensaje').first().json.texto + '\\n\\nDevuelve SOLO JSON válido sin markdown: {\"toEmail\": \"email@empresa.com\", \"asunto\": \"asunto profesional\", \"cuerpo\": \"texto del correo en 3-4 párrafos separados por \\\\n\\\\n, sin firma ni despedida\"}' }] }) }}",
        "options": {}
      },
      "id": "wf4-claude",
      "name": "OpenRouter Redacta Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const claudeResp = $input.first().json;\nconst chatId = $('Router tipo mensaje').first().json.chatId;\nconst routerData = $('Router tipo mensaje').first().json;\n\n// Check if router extracted explicit fields\nconst explicitToEmail = routerData.explicitToEmail || '';\nconst explicitAsunto = routerData.explicitAsunto || '';\nconst explicitCuerpo = routerData.explicitCuerpo || '';\n\nlet toEmail = '', asunto = '', cuerpo = '';\n\n// Try Groq response first\ntry {\n  const content = claudeResp.choices?.[0]?.message?.content || claudeResp.content?.[0]?.text || '';\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    toEmail = parsed.toEmail || '';\n    asunto = parsed.asunto || '';\n    cuerpo = parsed.cuerpo || '';\n  }\n} catch(e) {}\n\n// Override with explicit values if provided by user\nif (explicitToEmail) toEmail = explicitToEmail;\nif (explicitAsunto) asunto = explicitAsunto;\nif (explicitCuerpo) cuerpo = explicitCuerpo;\n\n// Validate\nif (!toEmail || !cuerpo) {\n  return [{ json: {\n    chatId, toEmail: '', asunto: '', cuerpo: '', isEmpty: true,\n    preview: '⚠️ *No pude redactar el correo.*\\n\\nPor favor indica más claramente:\\n• Email del destinatario\\n• Propósito o empresa\\n\\nEjemplo: _\"Redacta un correo a rrhh@empresa.com para el cargo de Analista\"_'\n  } }];\n}\n\nconst sd = $getWorkflowStaticData('global');\nsd['draft_' + chatId] = { toEmail, asunto, cuerpo, ts: Date.now() };\n\nconst previewBody = cuerpo.length > 3000 ? cuerpo.substring(0, 3000) + '...' : cuerpo;\nconst preview = '📧 *Preview del correo*\\n\\n*Para:* ' + toEmail + '\\n*Asunto:* ' + asunto + '\\n\\n*Cuerpo:*\\n' + previewBody + '\\n\\n——\\n👆 *Usa los botones para confirmar o cancelar*';\n\nreturn [{ json: { chatId, preview, toEmail, asunto, cuerpo, isEmpty: false } }];"
      },
      "id": "wf4-store-preview",
      "name": "Guardar Draft y Preparar Preview",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        368
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.preview }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "wf4-send-preview",
      "name": "Enviar Preview con Botones",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        368
      ],
      "webhookId": "0cc50451-a4f5-4a94-ae54-4157385d2862",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "c3",
              "leftValue": "={{ $json.callbackData }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "confirm_email"
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-if-confirm",
      "name": "¿Confirmar o Cancelar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Router tipo mensaje').first().json.chatId;\nconst callbackQueryId = $('Router tipo mensaje').first().json.callbackQueryId;\nconst sd = $getWorkflowStaticData('global');\nconst draft = sd['draft_' + chatId] || {};\n\n// Limpiar draft después de leer\ndelete sd['draft_' + chatId];\n\nreturn [{ json: {\n  chatId,\n  callbackQueryId,\n  toEmail: draft.toEmail || '',\n  asunto: draft.asunto || '',\n  cuerpo: draft.cuerpo || '',\n  hasDraft: !!(draft.toEmail)\n} }];"
      },
      "id": "wf4-load-draft",
      "name": "Cargar Draft Guardado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "operation": "answerCallbackQuery"
      },
      "id": "wf4-answer-confirm",
      "name": "Responder Callback Confirmar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        0
      ],
      "webhookId": "c3b28400-2a59-447a-bc92-f345da3e3416",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "\"Simón Marín Rojas\" <contacto@simonmarin.com>",
        "toEmail": "={{ $('Cargar Draft Guardado').first().json.toEmail }}",
        "subject": "={{ $('Cargar Draft Guardado').first().json.asunto }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;padding:20px 0;\">\n    <tr><td align=\"center\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1);\">\n        <tr><td style=\"background-color:#1a2744;padding:30px 40px;text-align:left;\">\n          <h1 style=\"color:#ffffff;margin:0;font-size:24px;font-weight:bold;letter-spacing:1px;\">SIMÓN MARÍN ROJAS</h1>\n          <p style=\"color:#a0b0c8;margin:5px 0 0 0;font-size:13px;\">Ingeniero Comercial &nbsp;·&nbsp; Analista de Procesos y Automatización</p>\n        </td></tr>\n        <tr><td style=\"height:3px;background:linear-gradient(to right,#1a2744,#c8a84b);\"></td></tr>\n        <tr><td style=\"padding:35px 40px;\">\n          <p style=\"color:#333333;font-size:15px;line-height:1.7;margin:0;\">{{ ($('Cargar Draft Guardado').first().json.cuerpo || '').replace(/\\n/g,'<br>') }}</p>\n        </td></tr>\n        <tr><td style=\"height:1px;background-color:#e0e0e0;margin:0 40px;\"></td></tr>\n        <tr><td style=\"padding:25px 40px;text-align:center;\">\n          <img src=\"http://simonmarin.com/wp-content/uploads/2026/03/Simon-Marin.png\" width=\"70\" height=\"70\" style=\"border-radius:50%;border:3px solid #ffffff;display:block;margin:0 auto 12px auto;\" alt=\"Simón Marín\">\n          <p style=\"margin:0;font-size:16px;font-weight:bold;color:#1a2744;\">Simón Marín Rojas</p>\n          <p style=\"margin:4px 0;font-size:12px;color:#666;\">Ingeniero Comercial | Analista de Procesos y Automatización</p>\n          <p style=\"margin:4px 0;font-size:12px;color:#1a2744;\"><a href=\"mailto:contacto@simonmarin.com\" style=\"color:#1a2744;text-decoration:none;\">contacto@simonmarin.com</a> &nbsp;·&nbsp; +56 9 8401 3356 &nbsp;·&nbsp; Santiago, Chile</p>\n          <a href=\"https://reuniones.smr.bz/expert/simon.marin?start=scheduling\" style=\"display:inline-block;margin:15px 0 5px 0;\">\n            <img src=\"http://simonmarin.com/wp-content/uploads/2026/02/AGENDAR-REUNION.gif\" width=\"200\" alt=\"Agendar Reunión\" style=\"border-radius:4px;\">\n          </a>\n          <p style=\"margin:12px 0 0 0;\">\n            <a href=\"https://simonmarin.com/\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/www.png\" width=\"28\" height=\"28\" alt=\"Web\"></a>\n            <a href=\"https://www.linkedin.com/in/simon-marin-rojas-perfil/\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/linkedin.png\" width=\"28\" height=\"28\" alt=\"LinkedIn\"></a>\n            <a href=\"https://api.whatsapp.com/send/?phone=56984013356&text=Hola,+buen+d%C3%ADa.+Quisiera+obtener+m%C3%A1s+informaci%C3%B3n.+Quedo+atento,+gracias.&type=phone_number&app_absent=0\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/wsp.png\" width=\"28\" height=\"28\" alt=\"WhatsApp\"></a>\n            <a href=\"mailto:contacto@simonmarin.com\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/@.png\" width=\"28\" height=\"28\" alt=\"Email\"></a>\n          </p>\n        </td></tr>\n        <tr><td style=\"background-color:#1a2744;padding:15px 0;text-align:center;\">\n          <img src=\"http://simonmarin.com/wp-content/uploads/2026/03/Banner_Blanco_SMR-X-297-X-68.png\" width=\"297\" height=\"68\" alt=\"SMR\" style=\"display:block;margin:0 auto;\">\n        </td></tr>\n        <tr><td style=\"background-color:#c8a84b;padding:8px;text-align:center;\">\n          <p style=\"margin:0;color:#1a2744;font-size:11px;font-style:italic;\">Convierto la complejidad diaria en decisiones claras</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "wf4-send-email",
      "name": "Enviar Email Manual",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1440,
        0
      ],
      "webhookId": "74cd6739-44b6-4ce7-85f1-855bc70c1d78",
      "credentials": {
        "smtp": {
          "id": "PzG1HDuy5xJlmEQ5",
          "name": "Hostinger SMTP - Simón"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Cargar Draft Guardado').first().json.chatId }}",
        "text": "={{ '✅ *Correo enviado exitosamente*\\n\\n📧 *Para:* ' + $('Cargar Draft Guardado').first().json.toEmail + '\\n📌 *Asunto:* ' + $('Cargar Draft Guardado').first().json.asunto + '\\n\\n_El correo fue enviado desde contacto@simonmarin.com_' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "wf4-notify-sent",
      "name": "Confirmar Email Enviado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        0
      ],
      "webhookId": "b7890604-0bbf-4ee5-8c93-e025973c2da6",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "answerCallbackQuery"
      },
      "id": "wf4-answer-cancel",
      "name": "Responder Callback Cancelar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        240
      ],
      "webhookId": "cf9b70c8-a7ec-427f-a314-8f6c9eb54ebb",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Router tipo mensaje').first().json.chatId }}",
        "text": "❌ Correo cancelado. Para redactar uno nuevo, dime a qué dirección y el contexto.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "wf4-notify-cancel",
      "name": "Notificar Cancelación",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        240
      ],
      "webhookId": "dfbcfceb-4782-44dc-8a13-038adcfaec65",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Router tipo mensaje').first().json.chatId }}",
        "text": "✅ Anotado. Aplicaré esta instrucción en los próximos correos.",
        "additionalFields": {
          "appendAttribution": false
        },
        "jsCode": "const chatId = $('Router tipo mensaje').first().json.chatId;\nconst tipo = $('Router tipo mensaje').first().json.tipo;\nconst feedbackText = $('Router tipo mensaje').first().json.texto;\nconst sd = $getWorkflowStaticData('global');\nconst draft = sd['draft_' + chatId] || null;\nconst hasRealDraft = !!(draft && draft.toEmail && draft.cuerpo);\n\n// Only allow regen path for explicit feedback with a real draft\nconst hasDraft = hasRealDraft && tipo === 'feedback';\n\nreturn [{ json: { hasDraft, shouldSave: tipo === 'guardar_memoria', draft: draft || {}, feedbackText, chatId, tipo } }];"
      },
      "id": "wf4-fallback-msg",
      "name": "Verificar Draft Pendiente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        640
      ],
      "webhookId": "abae8048-1304-4d7a-8da8-6b424109d4c6",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "tc1",
              "leftValue": "={{ $json.tipo }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "confirmar_texto"
            },
            {
              "id": "tc2",
              "leftValue": "={{ $json.tipo }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "cancelar_texto"
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-if-text-confirm",
      "name": "¿Confirmación por texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "tcc1",
              "leftValue": "={{ $json.tipo }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "rightValue": "confirmar_texto"
            }
          ]
        },
        "options": {}
      },
      "id": "wf4-if-text-type",
      "name": "¿Confirmar o Cancelar Texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Router tipo mensaje').first().json.chatId;\nconst sd = $getWorkflowStaticData('global');\nconst draft = sd['draft_' + chatId] || {};\ndelete sd['draft_' + chatId];\nreturn [{ json: { chatId, callbackQueryId: '', toEmail: draft.toEmail || '', asunto: draft.asunto || '', cuerpo: draft.cuerpo || '', hasDraft: !!(draft.toEmail) } }];"
      },
      "id": "wf4-load-draft-text",
      "name": "Cargar Draft (texto)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        304
      ]
    },
    {
      "parameters": {
        "fromEmail": "\"Simón Marín Rojas\" <contacto@simonmarin.com>",
        "toEmail": "={{ $('Cargar Draft (texto)').first().json.toEmail }}",
        "subject": "={{ $('Cargar Draft (texto)').first().json.asunto }}",
        "html": "=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;padding:20px 0;\">\n    <tr><td align=\"center\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1);\">\n        <tr><td style=\"background-color:#1a2744;padding:30px 40px;text-align:left;\">\n          <h1 style=\"color:#ffffff;margin:0;font-size:24px;font-weight:bold;letter-spacing:1px;\">SIMÓN MARÍN ROJAS</h1>\n          <p style=\"color:#a0b0c8;margin:5px 0 0 0;font-size:13px;\">Ingeniero Comercial &nbsp;·&nbsp; Analista de Procesos y Automatización</p>\n        </td></tr>\n        <tr><td style=\"height:3px;background:linear-gradient(to right,#1a2744,#c8a84b);\"></td></tr>\n        <tr><td style=\"padding:35px 40px;\">\n          <p style=\"color:#333333;font-size:15px;line-height:1.7;margin:0;\">{{ ($('Cargar Draft (texto)').first().json.cuerpo || '').replace(/\\n/g,'<br>') }}</p>\n        </td></tr>\n        <tr><td style=\"height:1px;background-color:#e0e0e0;margin:0 40px;\"></td></tr>\n        <tr><td style=\"padding:25px 40px;text-align:center;\">\n          <img src=\"http://simonmarin.com/wp-content/uploads/2026/03/Simon-Marin.png\" width=\"70\" height=\"70\" style=\"border-radius:50%;border:3px solid #ffffff;display:block;margin:0 auto 12px auto;\" alt=\"Simón Marín\">\n          <p style=\"margin:0;font-size:16px;font-weight:bold;color:#1a2744;\">Simón Marín Rojas</p>\n          <p style=\"margin:4px 0;font-size:12px;color:#666;\">Ingeniero Comercial | Analista de Procesos y Automatización</p>\n          <p style=\"margin:4px 0;font-size:12px;color:#1a2744;\"><a href=\"mailto:contacto@simonmarin.com\" style=\"color:#1a2744;text-decoration:none;\">contacto@simonmarin.com</a> &nbsp;·&nbsp; +56 9 8401 3356 &nbsp;·&nbsp; Santiago, Chile</p>\n          <a href=\"https://reuniones.smr.bz/expert/simon.marin?start=scheduling\" style=\"display:inline-block;margin:15px 0 5px 0;\">\n            <img src=\"http://simonmarin.com/wp-content/uploads/2026/02/AGENDAR-REUNION.gif\" width=\"200\" alt=\"Agendar Reunión\" style=\"border-radius:4px;\">\n          </a>\n          <p style=\"margin:12px 0 0 0;\">\n            <a href=\"https://simonmarin.com/\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/www.png\" width=\"28\" height=\"28\" alt=\"Web\"></a>\n            <a href=\"https://www.linkedin.com/in/simon-marin-rojas-perfil/\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/linkedin.png\" width=\"28\" height=\"28\" alt=\"LinkedIn\"></a>\n            <a href=\"https://api.whatsapp.com/send/?phone=56984013356&text=Hola,+buen+d%C3%ADa.+Quisiera+obtener+m%C3%A1s+informaci%C3%B3n.+Quedo+atento,+gracias.&type=phone_number&app_absent=0\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/wsp.png\" width=\"28\" height=\"28\" alt=\"WhatsApp\"></a>\n            <a href=\"mailto:contacto@simonmarin.com\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/@.png\" width=\"28\" height=\"28\" alt=\"Email\"></a>\n          </p>\n        </td></tr>\n        <tr><td style=\"background-color:#1a2744;padding:15px 0;text-align:center;\">\n          <img src=\"http://simonmarin.com/wp-content/uploads/2026/03/Banner_Blanco_SMR-X-297-X-68.png\" width=\"297\" height=\"68\" alt=\"SMR\" style=\"display:block;margin:0 auto;\">\n        </td></tr>\n        <tr><td style=\"background-color:#c8a84b;padding:8px;text-align:center;\">\n          <p style=\"margin:0;color:#1a2744;font-size:11px;font-style:italic;\">Convierto la complejidad diaria en decisiones claras</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "wf4-send-email-text",
      "name": "Enviar Email (texto)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1440,
        304
      ],
      "webhookId": "157970d8-9a39-45e1-97fc-d14f7bfe5f9f",
      "credentials": {
        "smtp": {
          "id": "PzG1HDuy5xJlmEQ5",
          "name": "Hostinger SMTP - Simón"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Cargar Draft (texto)').first().json.chatId }}",
        "text": "={{ '✅ *Correo enviado exitosamente*\\n\\n📧 *Para:* ' + $('Cargar Draft (texto)').first().json.toEmail + '\\n📌 *Asunto:* ' + $('Cargar Draft (texto)').first().json.asunto + '\\n\\n_El correo fue enviado desde contacto@simonmarin.com_' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "wf4-notify-sent-text",
      "name": "Confirmar Email Enviado (texto)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        304
      ],
      "webhookId": "d5b92a48-348b-4f84-8756-cc6538756eb4",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Router tipo mensaje').first().json.chatId }}",
        "text": "❌ Correo cancelado. Para redactar uno nuevo, dime a qué dirección y el contexto.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "wf4-notify-cancel-text",
      "name": "Notificar Cancelación (texto)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        464
      ],
      "webhookId": "4fa08c27-1aae-4952-8bb7-219ce83ad38c",
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      }
    },
    {
      "id": "wf4-leer-memoria",
      "name": "Leer Memoria Agente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        368
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/3313b76e-193b-8006-aa1c-edfcd7846e5b/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"filter\": {\"property\": \"Activo\", \"checkbox\": {\"equals\": true}}}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"filter\":{\"property\":\"Activo\",\"checkbox\":{\"equals\":true}}}"
      },
      "credentials": {
        "notionApi": {
          "id": "jYJowf8nddngCyk0",
          "name": "Notion - Agente Laboral"
        }
      }
    },
    {
      "id": "wf4-formatear-memoria",
      "name": "Formatear Memoria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        368
      ],
      "parameters": {
        "jsCode": "const pages = $input.all();\nif (pages.length === 0 || !pages[0].json.results) return [{ json: { memoryRules: '' } }];\n\nconst rules = pages[0].json.results.map(p => {\n  const nota = p.properties?.Nota?.rich_text?.[0]?.plain_text || '';\n  return nota;\n}).filter(Boolean).join('\\n- ');\n\nreturn [{ json: { memoryRules: rules ? `\\n\\nREGLAS DE MEMORIA:\\n- ${rules}` : '' } }];"
      }
    },
    {
      "id": "wf4-if-has-draft",
      "name": "¿Hay draft pendiente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1160,
        640
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "hd1",
              "leftValue": "={{ Boolean($json.hasDraft) }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "wf4-prep-regen",
      "name": "Preparar Regeneración",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        560
      ],
      "parameters": {
        "jsCode": "const { draft, feedbackText, chatId } = $input.first().json;\n\nconst userPrompt = 'Regenera este email aplicando este cambio: ' + feedbackText + '\\n\\nEmail actual:\\n' +\n  'Para: ' + draft.toEmail + '\\n' +\n  'Asunto: ' + draft.asunto + '\\n' +\n  'Cuerpo: ' + draft.cuerpo + '\\n\\n' +\n  'CRÍTICO: NO incluyas firma, nombre, despedida ni Atentamente al final del cuerpo. La plantilla HTML agrega la firma automáticamente.\\n\\n' +\n  'Devuelve SOLO JSON válido sin markdown: {\"toEmail\": \"email@empresa.com\", \"asunto\": \"asunto profesional\", \"cuerpo\": \"texto del correo sin firma ni despedida al final\"}';\n\nreturn [{ json: { chatId, feedbackText, originalDraft: draft, userPrompt } }];"
      }
    },
    {
      "id": "wf4-groq-regen",
      "name": "Groq Regenera Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REDACTED_GROQ_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 1500, messages: [{ role: 'system', content: 'Eres el asistente de Simón Marín Rojas, Ingeniero Comercial y Analista de Procesos y Automatización (contacto@simonmarin.com | +56 9 8401 3356 | Santiago, Chile). Redactas emails profesionales de presentación en su nombre para empresas y reclutadores chilenos.\\n\\nREGLAS OBLIGATORIAS:\\n1. Estructura el cuerpo en 3-4 párrafos SEPARADOS por salto de línea doble (\\\\n\\\\n)\\n2. Párrafo 1: Presentación directa y propósito del contacto\\n3. Párrafo 2: Logros cuantificables más relevantes (automatización, reducción de costos, eficiencia)\\n4. Párrafo 3: Habilidades diferenciales específicas (n8n, Notion ERP, VPS, Google Apps Script)\\n5. Párrafo 4 (opcional): CTA para reunión o llamada\\n6. Tono: formal pero directo, sin frases genéricas ni clichés\\n7. NUNCA incluir firma, nombre, despedida ni Atentamente al final\\n8. NUNCA escribir todo en un solo párrafo\\n\\nPERFIL REAL DE SIMÓN (usa SIEMPRE estos datos concretos, no inventes cifras):\\n- Empresa: Bioproterra SpA (PYME construcción y servicios) — rol: Analista de Procesos y Sistemas\\n- Logro 1: Implementó ERP completo en Notion + Google Apps Script, automatizando más del 75% de los procesos operativos\\n- Logro 2: Redujo en 80% el tiempo de elaboración de contratos y documentación\\n- Logro 3: Automatizó el departamento de licitaciones completo (desde alerta de publicación hasta presentación final)\\n- Logro 4: Administra n8n self-hosted en VPS propio, integrando más de 8 sistemas de la empresa\\n- Formación: Ingeniería Comercial + Minor Emprendimiento e Innovación, UCN Coquimbo (egresado 2025)\\n- Stack técnico: n8n, Notion (ERP avanzado), Google Apps Script, Power BI, Excel avanzado, BPMN\\n- Diferencial único: combina perfil analítico-financiero con capacidad técnica real de implementación' }, { role: 'user', content: $('Preparar Regeneración').first().json.userPrompt }] }) }}",
        "options": {}
      }
    },
    {
      "id": "wf4-parse-regen",
      "name": "Parsear Email Regenerado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        560
      ],
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst chatId = $('Preparar Regeneración').first().json.chatId;\nconst feedbackText = $('Preparar Regeneración').first().json.feedbackText;\n\nlet toEmail = '', asunto = '', cuerpo = '';\ntry {\n  const content = resp.choices?.[0]?.message?.content || resp.content?.[0]?.text || '';\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    toEmail = parsed.toEmail || '';\n    asunto = parsed.asunto || '';\n    cuerpo = parsed.cuerpo || '';\n  }\n} catch(e) {}\n\nreturn [{ json: { chatId, toEmail, asunto, cuerpo, feedbackText } }];"
      }
    },
    {
      "id": "wf4-save-regen",
      "name": "Guardar Draft Regenerado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        560
      ],
      "parameters": {
        "jsCode": "const { chatId, toEmail, asunto, cuerpo } = $input.first().json;\n\nconst sd = $getWorkflowStaticData('global');\nsd['draft_' + chatId] = { toEmail, asunto, cuerpo, ts: Date.now() };\n\nconst previewBody = cuerpo.length > 3000 ? cuerpo.substring(0, 3000) + '...' : cuerpo;\nconst preview = '✏️ *Correo actualizado:*\\n\\n' +\n  '*Para:* ' + toEmail + '\\n' +\n  '*Asunto:* ' + asunto + '\\n\\n' +\n  '*Cuerpo:*\\n' + previewBody +\n  '\\n\\n——\\n👆 *Usa los botones para confirmar o cancelar*';\n\nreturn [{ json: { chatId, preview, toEmail, asunto, cuerpo } }];"
      }
    },
    {
      "id": "wf4-send-regen-preview",
      "name": "Enviar Preview Regenerado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        560
      ],
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.preview }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown",
          "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"✅ Confirmar y Enviar\",\"callback_data\":\"confirmar\"},{\"text\":\"❌ Cancelar\",\"callback_data\":\"cancelar\"}]]}"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      },
      "webhookId": "73331e94-8d02-4c91-92dd-6f591a551583"
    },
    {
      "id": "wf4-save-feedback-notion",
      "name": "Guardar Feedback Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2360,
        560
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ parent: { database_id: '3313b76e-193b-8006-aa1c-edfcd7846e5b' }, properties: { Nombre: { title: [{ text: { content: ('Feedback: ' + $('Parsear Email Regenerado').first().json.feedbackText).substring(0, 80) } }] }, Nota: { rich_text: [{ text: { content: 'Feedback aplicado: ' + $('Parsear Email Regenerado').first().json.feedbackText + '\\nAsunto regenerado: ' + $('Parsear Email Regenerado').first().json.asunto } }] }, Activo: { checkbox: true }, Fecha: { date: { start: $now.format('yyyy-MM-dd') } }, Sección: { select: { name: 'Notas de Comportamiento' } } } }) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi"
      },
      "credentials": {
        "notionApi": {
          "id": "jYJowf8nddngCyk0",
          "name": "Notion - Agente Laboral"
        }
      }
    },
    {
      "id": "wf4-save-instruccion-notion",
      "name": "Guardar Instrucción Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        760
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  parent: { database_id: '3313b76e-193b-8006-aa1c-edfcd7846e5b' },\n  properties: {\n    Nombre: { title: [{ text: { content: ('Instrucción: ' + $('Verificar Draft Pendiente').first().json.feedbackText).substring(0, 100) } }] },\n    Nota: { rich_text: [{ text: { content: 'Instrucción permanente guardada por el usuario.' } }] },\n    Activo: { checkbox: true },\n    Fecha: { date: { start: new Date().toISOString().split('T')[0] } },\n    Sección: { select: { name: 'Instrucciones' } }\n  }\n}) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi"
      },
      "credentials": {
        "notionApi": {
          "id": "jYJowf8nddngCyk0",
          "name": "Notion - Agente Laboral"
        }
      }
    },
    {
      "id": "wf4-confirm-guardado",
      "name": "Confirmar Guardado",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        760
      ],
      "parameters": {
        "chatId": "={{ $('Verificar Draft Pendiente').first().json.chatId }}",
        "text": "✅ Guardado en memoria. Lo aplicaré en el próximo correo que genere.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "rE6bL40aCajtjgBJ",
          "name": "Telegram Bot - SMR Job Agent"
        }
      },
      "webhookId": "27226e8f-388b-458d-93d4-c0bb47055a4a"
    },
    {
      "id": "wf4-notion-register-callback",
      "name": "Registrar Envío en Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  icon: { type: 'external', external: { url: 'https://simonmarin.com/wp-content/uploads/2026/04/Correo-enviado.svg' } },\n  parent: { database_id: '2d03b76e-193b-8087-83c6-fae54ef2fe08' },\n  properties: {\n    'Nombre': { title: [{ type: 'text', text: { content: ($('Cargar Draft Guardado').first().json.toEmail || 'sin-destinatario').substring(0, 100) } }] },\n    'Estado': { status: { name: '📤 Enviada' } },\n    'Fecha de postulación': { date: { start: new Date().toISOString().split('T')[0] } },\n    'Correo persona': { email: $('Cargar Draft Guardado').first().json.toEmail || null },\n    'Asunto del correo': { rich_text: [{ type: 'text', text: { content: ($('Cargar Draft Guardado').first().json.asunto || '').substring(0, 2000) } }] },\n    'Cuerpo del correo': { rich_text: [{ type: 'text', text: { content: ($('Cargar Draft Guardado').first().json.cuerpo || '').substring(0, 2000) } }] }\n  }\n}) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "credentialType": "notionApi"
      },
      "credentials": {
        "notionApi": {
          "id": "jYJowf8nddngCyk0",
          "name": "Notion - Agente Laboral"
        }
      }
    },
    {
      "id": "wf4-notion-register-text",
      "name": "Registrar Envío en Notion (texto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        500
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/pages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  icon: { type: 'external', external: { url: 'https://simonmarin.com/wp-content/uploads/2026/04/Correo-enviado.svg' } },\n  parent: { database_id: '2d03b76e-193b-8087-83c6-fae54ef2fe08' },\n  properties: {\n    'Nombre': { title: [{ type: 'text', text: { content: ($('Cargar Draft (texto)').first().json.toEmail || 'sin-destinatario').substring(0, 100) } }] },\n    'Estado': { status: { name: '📤 Enviada' } },\n    'Fecha de postulación': { date: { start: new Date().toISOString().split('T')[0] } },\n    'Correo persona': { email: $('Cargar Draft (texto)').first().json.toEmail || null },\n    'Asunto del correo': { rich_text: [{ type: 'text', text: { content: ($('Cargar Draft (texto)').first().json.asunto || '').substring(0, 2000) } }] },\n    'Cuerpo del correo': { rich_text: [{ type: 'text', text: { content: ($('Cargar Draft (texto)').first().json.cuerpo || '').substring(0, 2000) } }] }\n  }\n}) }}",
        "options": {},
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "credentialType": "notionApi"
      },
      "credentials": {
        "notionApi": {
          "id": "jYJowf8nddngCyk0",
          "name": "Notion - Agente Laboral"
        }
      }
    },
    {
      "id": "wf4-if-guardar-memoria",
      "name": "¿Guardar en Memoria?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        900
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "gm1",
              "leftValue": "={{ Boolean($json.shouldSave) }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "wf4-redis-flag",
      "name": "Redis: Marcar Email WF-04",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        700,
        368
      ],
      "credentials": {
        "redis": {
          "id": "jvpSbPg55kUlNd41",
          "name": "Redis - Agente Laboral"
        }
      },
      "parameters": {
        "operation": "set",
        "key": "={{ 'wf04:handled:' + $('Router tipo mensaje').first().json.chatId }}",
        "value": "1",
        "expire": true,
        "ttl": 10
      }
    }
  ],
  "connections": {
    "Telegram: Email Manual": {
      "main": [
        [
          {
            "node": "Router tipo mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router tipo mensaje": {
      "main": [
        [
          {
            "node": "¿Es callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es callback?": {
      "main": [
        [
          {
            "node": "¿Confirmar o Cancelar?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Confirmación por texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Confirmación por texto?": {
      "main": [
        [
          {
            "node": "¿Confirmar o Cancelar Texto?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Es solicitud de email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es solicitud de email?": {
      "main": [
        [
          {
            "node": "Redis: Marcar Email WF-04",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Draft Pendiente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verificar Draft Pendiente",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Redacta Email": {
      "main": [
        [
          {
            "node": "Guardar Draft y Preparar Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Draft y Preparar Preview": {
      "main": [
        [
          {
            "node": "Enviar Preview con Botones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Confirmar o Cancelar?": {
      "main": [
        [
          {
            "node": "Cargar Draft Guardado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Callback Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Draft Guardado": {
      "main": [
        [
          {
            "node": "Responder Callback Confirmar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Callback Confirmar": {
      "main": [
        [
          {
            "node": "Enviar Email Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email Manual": {
      "main": [
        [
          {
            "node": "Confirmar Email Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Callback Cancelar": {
      "main": [
        [
          {
            "node": "Notificar Cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Confirmar o Cancelar Texto?": {
      "main": [
        [
          {
            "node": "Cargar Draft (texto)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Cancelación (texto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Draft (texto)": {
      "main": [
        [
          {
            "node": "Enviar Email (texto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email (texto)": {
      "main": [
        [
          {
            "node": "Confirmar Email Enviado (texto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Memoria Agente": {
      "main": [
        [
          {
            "node": "Formatear Memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Memoria": {
      "main": [
        [
          {
            "node": "OpenRouter Redacta Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay draft pendiente?": {
      "main": [
        [
          {
            "node": "Preparar Regeneración",
            "type": "0",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Guardar en Memoria?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Regeneración": {
      "main": [
        [
          {
            "node": "Groq Regenera Email",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Groq Regenera Email": {
      "main": [
        [
          {
            "node": "Parsear Email Regenerado",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Email Regenerado": {
      "main": [
        [
          {
            "node": "Guardar Draft Regenerado",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Draft Regenerado": {
      "main": [
        [
          {
            "node": "Enviar Preview Regenerado",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Preview Regenerado": {
      "main": [
        [
          {
            "node": "Guardar Feedback Notion",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Instrucción Notion": {
      "main": [
        [
          {
            "node": "Confirmar Guardado",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Draft Pendiente": {
      "main": [
        [
          {
            "node": "¿Hay draft pendiente?",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Email Enviado": {
      "main": [
        [
          {
            "node": "Registrar Envío en Notion",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Email Enviado (texto)": {
      "main": [
        [
          {
            "node": "Registrar Envío en Notion (texto)",
            "type": "0",
            "index": 0
          }
        ]
      ]
    },
    "¿Guardar en Memoria?": {
      "main": [
        [
          {
            "node": "Guardar Instrucción Notion",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Redis: Marcar Email WF-04": {
      "main": [
        [
          {
            "node": "Leer Memoria Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Santiago",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate",
    "errorWorkflow": "I3orjxloJLGwQYj4"
  },
  "staticData": {
    "global": {}
  },
  "meta": null,
  "pinData": {
    "Telegram: Email Manual": [
      {
        "json": {
          "update_id": 664911304,
          "message": {
            "message_id": 395,
            "from": {
              "id": 8298437242,
              "is_bot": false,
              "first_name": "Proterra",
              "last_name": "Atiende",
              "language_code": "es"
            },
            "chat": {
              "id": 8298437242,
              "first_name": "Proterra",
              "last_name": "Atiende",
              "type": "private"
            },
            "date": 1775497727,
            "text": "envía un correo de presentación a simon.ariel2099@gmail.com",
            "entities": [
              {
                "offset": 34,
                "length": 25,
                "type": "email"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "7288fb30-08c8-4389-804f-09481c29d96d",
  "activeVersionId": "7288fb30-08c8-4389-804f-09481c29d96d",
  "versionCounter": 142,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-05T00:21:01.932Z",
      "createdAt": "2026-04-05T00:21:01.932Z",
      "role": "workflow:owner",
      "workflowId": "Tf1MIWqHpQ9NKZpa",
      "projectId": "4s8UyPx8dbNLZbPq",
      "project": {
        "updatedAt": "2025-10-05T16:09:00.726Z",
        "createdAt": "2025-10-05T16:02:04.834Z",
        "id": "4s8UyPx8dbNLZbPq",
        "name": "Proterra Constructora <operacional@bioproterra.cl>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ea31d4b3-ce56-4b92-8bc8-04d17a093ead"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-07T01:26:14.887Z",
    "createdAt": "2026-04-07T01:26:14.887Z",
    "versionId": "7288fb30-08c8-4389-804f-09481c29d96d",
    "workflowId": "Tf1MIWqHpQ9NKZpa",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "id": "wf4-trigger",
        "name": "Telegram: Email Manual",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          304
        ],
        "webhookId": "e93e1b5b-e114-4e95-be66-839d011a1fad",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const u = $input.first().json;\nlet tipo='ignorar', chatId='', texto='', callbackData='', callbackQueryId='';\nlet explicitToEmail='', explicitAsunto='', explicitCuerpo='';\n\nif (u.callback_query) {\n  tipo = 'callback';\n  chatId = String(u.callback_query.from.id);\n  callbackData = u.callback_query.data || '';\n  callbackQueryId = String(u.callback_query.id);\n} else if (u.message?.text) {\n  chatId = String(u.message.chat.id);\n  texto = u.message.text;\n  const t = texto.toLowerCase().trim();\n\n  // Confirmaciones\n  if (['confirmar','si','sí','yes','enviar','enviarlo','envíalo','envialo','ok','listo','dale','mandar'].includes(t)) {\n    tipo = 'confirmar_texto';\n\n  // Cancelaciones\n  } else if (['cancelar','no'].includes(t)) {\n    tipo = 'cancelar_texto';\n\n  // Guardar memoria SOLO si explícito\n  } else if (/\\b(recuerda|guarda|memoriza|guárdalo|guardar en memoria|guarda esto|ten en cuenta siempre)\\b/i.test(t)) {\n    tipo = 'guardar_memoria';\n\n  // Feedback/modificación del draft (incluye \"coloca\", \"pon\", \"cambia\", \"debes\", etc.)\n  } else if (/^(aplic|regenera|reescribe|mejora|cambia|corrige|hazlo|coloca|pon |agrega|quita|elimina|modifica|actualiza|debes)/i.test(t)\n    || t.includes('más profesional') || t.includes('aplícalo')\n    || /\\b(el cuerpo|el asunto|en el cuerpo|en el asunto|cuerpo debe|asunto debe)\\b/i.test(t)) {\n    tipo = 'feedback';\n\n  // Email con contenido explícito (asunto: X o cuerpo: X en el mensaje)\n  } else {\n    const emailMatch = texto.match(/([a-zA-Z0-9._%+\\-]+@[a-zA-Z0-9.\\-]+\\.[a-zA-Z]{2,})/);\n    const asuntoMatch = texto.match(/asunto[:\\s]+([^\\n\\r]+)/i);\n    const cuerpoMatch = texto.match(/cuerpo[:\\s]+([\\s\\S]+)/i);\n\n    if (emailMatch && (asuntoMatch || cuerpoMatch)) {\n      tipo = 'nuevo_email';\n      explicitToEmail = emailMatch[1];\n      explicitAsunto = asuntoMatch ? asuntoMatch[1].trim() : '';\n      explicitCuerpo = cuerpoMatch ? cuerpoMatch[1].trim() : '';\n    } else if (t.includes('correo') || t.includes('email') || t.includes('redacta') || t.includes('escribe un') || t.startsWith('/email') || t.includes('presenta') || t.includes('envía un') || t.includes('envia un') || t.includes('envíame')) {\n      tipo = 'nuevo_email';\n    } else {\n      tipo = 'instruccion_ignorar';\n    }\n  }\n}\n\nreturn [{ json: { tipo, chatId, texto, callbackData, callbackQueryId, explicitToEmail, explicitAsunto, explicitCuerpo } }];"
        },
        "id": "wf4-router",
        "name": "Router tipo mensaje",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.tipo }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "rightValue": "callback"
              }
            ]
          },
          "options": {}
        },
        "id": "wf4-if-callback",
        "name": "¿Es callback?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          480,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "c2",
                "leftValue": "={{ $json.tipo }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "rightValue": "nuevo_email"
              }
            ]
          },
          "options": {}
        },
        "id": "wf4-if-new-email",
        "name": "¿Es solicitud de email?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          480
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_KEY"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 1500, messages: [{ role: 'system', content: 'Eres el asistente de Simón Marín Rojas, Ingeniero Comercial y Analista de Procesos y Automatización (contacto@simonmarin.com | +56 9 8401 3356 | Santiago, Chile). Redactas emails profesionales de presentación en su nombre para empresas y reclutadores chilenos.\\n\\nREGLAS OBLIGATORIAS:\\n1. Estructura el cuerpo en 3-4 párrafos SEPARADOS por salto de línea doble (\\\\n\\\\n)\\n2. Párrafo 1: Presentación directa y propósito del contacto\\n3. Párrafo 2: Logros cuantificables más relevantes (automatización, reducción de costos, eficiencia)\\n4. Párrafo 3: Habilidades diferenciales específicas (n8n, Notion ERP, VPS, Google Apps Script)\\n5. Párrafo 4 (opcional): CTA para reunión o llamada\\n6. Tono: formal pero directo, sin frases genéricas ni clichés\\n7. NUNCA incluir firma, nombre, despedida ni Atentamente al final\\n8. NUNCA escribir todo en un solo párrafo\\n9. Si en el mensaje aparece \"cuerpo: [texto]\" o \"asunto: [texto]\", USA ESE TEXTO LITERALMENTE en el JSON, sin reescribirlo, sin expandirlo\\n\\nPERFIL REAL DE SIMÓN (usa SIEMPRE estos datos concretos, no inventes cifras):\\n- Empresa: Bioproterra SpA (PYME construcción y servicios) — rol: Analista de Procesos y Sistemas\\n- Logro 1: Implementó ERP completo en Notion + Google Apps Script, automatizando más del 75% de los procesos operativos\\n- Logro 2: Redujo en 80% el tiempo de elaboración de contratos y documentación\\n- Logro 3: Automatizó el departamento de licitaciones completo (desde alerta de publicación hasta presentación final)\\n- Logro 4: Administra n8n self-hosted en VPS propio, integrando más de 8 sistemas de la empresa\\n- Formación: Ingeniería Comercial + Minor Emprendimiento e Innovación, UCN Coquimbo (egresado 2025)\\n- Stack técnico: n8n, Notion (ERP avanzado), Google Apps Script, Power BI, Excel avanzado, BPMN\\n- Diferencial único: combina perfil analítico-financiero con capacidad técnica real de implementación' + $('Formatear Memoria').first().json.memoryRules }, { role: 'user', content: 'Solicitud de Simón: ' + $('Router tipo mensaje').first().json.texto + '\\n\\nDevuelve SOLO JSON válido sin markdown: {\"toEmail\": \"email@empresa.com\", \"asunto\": \"asunto profesional\", \"cuerpo\": \"texto del correo en 3-4 párrafos separados por \\\\n\\\\n, sin firma ni despedida\"}' }] }) }}",
          "options": {}
        },
        "id": "wf4-claude",
        "name": "OpenRouter Redacta Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1300,
          368
        ]
      },
      {
        "parameters": {
          "jsCode": "const claudeResp = $input.first().json;\nconst chatId = $('Router tipo mensaje').first().json.chatId;\nconst routerData = $('Router tipo mensaje').first().json;\n\n// Check if router extracted explicit fields\nconst explicitToEmail = routerData.explicitToEmail || '';\nconst explicitAsunto = routerData.explicitAsunto || '';\nconst explicitCuerpo = routerData.explicitCuerpo || '';\n\nlet toEmail = '', asunto = '', cuerpo = '';\n\n// Try Groq response first\ntry {\n  const content = claudeResp.choices?.[0]?.message?.content || claudeResp.content?.[0]?.text || '';\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    toEmail = parsed.toEmail || '';\n    asunto = parsed.asunto || '';\n    cuerpo = parsed.cuerpo || '';\n  }\n} catch(e) {}\n\n// Override with explicit values if provided by user\nif (explicitToEmail) toEmail = explicitToEmail;\nif (explicitAsunto) asunto = explicitAsunto;\nif (explicitCuerpo) cuerpo = explicitCuerpo;\n\n// Validate\nif (!toEmail || !cuerpo) {\n  return [{ json: {\n    chatId, toEmail: '', asunto: '', cuerpo: '', isEmpty: true,\n    preview: '⚠️ *No pude redactar el correo.*\\n\\nPor favor indica más claramente:\\n• Email del destinatario\\n• Propósito o empresa\\n\\nEjemplo: _\"Redacta un correo a rrhh@empresa.com para el cargo de Analista\"_'\n  } }];\n}\n\nconst sd = $getWorkflowStaticData('global');\nsd['draft_' + chatId] = { toEmail, asunto, cuerpo, ts: Date.now() };\n\nconst previewBody = cuerpo.length > 3000 ? cuerpo.substring(0, 3000) + '...' : cuerpo;\nconst preview = '📧 *Preview del correo*\\n\\n*Para:* ' + toEmail + '\\n*Asunto:* ' + asunto + '\\n\\n*Cuerpo:*\\n' + previewBody + '\\n\\n——\\n👆 *Usa los botones para confirmar o cancelar*';\n\nreturn [{ json: { chatId, preview, toEmail, asunto, cuerpo, isEmpty: false } }];"
        },
        "id": "wf4-store-preview",
        "name": "Guardar Draft y Preparar Preview",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          368
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "={{ $json.preview }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "id": "wf4-send-preview",
        "name": "Enviar Preview con Botones",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1440,
          368
        ],
        "webhookId": "0cc50451-a4f5-4a94-ae54-4157385d2862",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "c3",
                "leftValue": "={{ $json.callbackData }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "rightValue": "confirm_email"
              }
            ]
          },
          "options": {}
        },
        "id": "wf4-if-confirm",
        "name": "¿Confirmar o Cancelar?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          128
        ]
      },
      {
        "parameters": {
          "jsCode": "const chatId = $('Router tipo mensaje').first().json.chatId;\nconst callbackQueryId = $('Router tipo mensaje').first().json.callbackQueryId;\nconst sd = $getWorkflowStaticData('global');\nconst draft = sd['draft_' + chatId] || {};\n\n// Limpiar draft después de leer\ndelete sd['draft_' + chatId];\n\nreturn [{ json: {\n  chatId,\n  callbackQueryId,\n  toEmail: draft.toEmail || '',\n  asunto: draft.asunto || '',\n  cuerpo: draft.cuerpo || '',\n  hasDraft: !!(draft.toEmail)\n} }];"
        },
        "id": "wf4-load-draft",
        "name": "Cargar Draft Guardado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          0
        ]
      },
      {
        "parameters": {
          "operation": "answerCallbackQuery"
        },
        "id": "wf4-answer-confirm",
        "name": "Responder Callback Confirmar",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1200,
          0
        ],
        "webhookId": "c3b28400-2a59-447a-bc92-f345da3e3416",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "parameters": {
          "fromEmail": "\"Simón Marín Rojas\" <contacto@simonmarin.com>",
          "toEmail": "={{ $('Cargar Draft Guardado').first().json.toEmail }}",
          "subject": "={{ $('Cargar Draft Guardado').first().json.asunto }}",
          "html": "=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;padding:20px 0;\">\n    <tr><td align=\"center\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1);\">\n        <tr><td style=\"background-color:#1a2744;padding:30px 40px;text-align:left;\">\n          <h1 style=\"color:#ffffff;margin:0;font-size:24px;font-weight:bold;letter-spacing:1px;\">SIMÓN MARÍN ROJAS</h1>\n          <p style=\"color:#a0b0c8;margin:5px 0 0 0;font-size:13px;\">Ingeniero Comercial &nbsp;·&nbsp; Analista de Procesos y Automatización</p>\n        </td></tr>\n        <tr><td style=\"height:3px;background:linear-gradient(to right,#1a2744,#c8a84b);\"></td></tr>\n        <tr><td style=\"padding:35px 40px;\">\n          <p style=\"color:#333333;font-size:15px;line-height:1.7;margin:0;\">{{ ($('Cargar Draft Guardado').first().json.cuerpo || '').replace(/\\n/g,'<br>') }}</p>\n        </td></tr>\n        <tr><td style=\"height:1px;background-color:#e0e0e0;margin:0 40px;\"></td></tr>\n        <tr><td style=\"padding:25px 40px;text-align:center;\">\n          <img src=\"http://simonmarin.com/wp-content/uploads/2026/03/Simon-Marin.png\" width=\"70\" height=\"70\" style=\"border-radius:50%;border:3px solid #ffffff;display:block;margin:0 auto 12px auto;\" alt=\"Simón Marín\">\n          <p style=\"margin:0;font-size:16px;font-weight:bold;color:#1a2744;\">Simón Marín Rojas</p>\n          <p style=\"margin:4px 0;font-size:12px;color:#666;\">Ingeniero Comercial | Analista de Procesos y Automatización</p>\n          <p style=\"margin:4px 0;font-size:12px;color:#1a2744;\"><a href=\"mailto:contacto@simonmarin.com\" style=\"color:#1a2744;text-decoration:none;\">contacto@simonmarin.com</a> &nbsp;·&nbsp; +56 9 8401 3356 &nbsp;·&nbsp; Santiago, Chile</p>\n          <a href=\"https://reuniones.smr.bz/expert/simon.marin?start=scheduling\" style=\"display:inline-block;margin:15px 0 5px 0;\">\n            <img src=\"http://simonmarin.com/wp-content/uploads/2026/02/AGENDAR-REUNION.gif\" width=\"200\" alt=\"Agendar Reunión\" style=\"border-radius:4px;\">\n          </a>\n          <p style=\"margin:12px 0 0 0;\">\n            <a href=\"https://simonmarin.com/\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/www.png\" width=\"28\" height=\"28\" alt=\"Web\"></a>\n            <a href=\"https://www.linkedin.com/in/simon-marin-rojas-perfil/\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/linkedin.png\" width=\"28\" height=\"28\" alt=\"LinkedIn\"></a>\n            <a href=\"https://api.whatsapp.com/send/?phone=56984013356&text=Hola,+buen+d%C3%ADa.+Quisiera+obtener+m%C3%A1s+informaci%C3%B3n.+Quedo+atento,+gracias.&type=phone_number&app_absent=0\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/wsp.png\" width=\"28\" height=\"28\" alt=\"WhatsApp\"></a>\n            <a href=\"mailto:contacto@simonmarin.com\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/@.png\" width=\"28\" height=\"28\" alt=\"Email\"></a>\n          </p>\n        </td></tr>\n        <tr><td style=\"background-color:#1a2744;padding:15px 0;text-align:center;\">\n          <img src=\"http://simonmarin.com/wp-content/uploads/2026/03/Banner_Blanco_SMR-X-297-X-68.png\" width=\"297\" height=\"68\" alt=\"SMR\" style=\"display:block;margin:0 auto;\">\n        </td></tr>\n        <tr><td style=\"background-color:#c8a84b;padding:8px;text-align:center;\">\n          <p style=\"margin:0;color:#1a2744;font-size:11px;font-style:italic;\">Convierto la complejidad diaria en decisiones claras</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "wf4-send-email",
        "name": "Enviar Email Manual",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1440,
          0
        ],
        "webhookId": "74cd6739-44b6-4ce7-85f1-855bc70c1d78",
        "credentials": {
          "smtp": {
            "id": "PzG1HDuy5xJlmEQ5",
            "name": "Hostinger SMTP - Simón"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Cargar Draft Guardado').first().json.chatId }}",
          "text": "={{ '✅ *Correo enviado exitosamente*\\n\\n📧 *Para:* ' + $('Cargar Draft Guardado').first().json.toEmail + '\\n📌 *Asunto:* ' + $('Cargar Draft Guardado').first().json.asunto + '\\n\\n_El correo fue enviado desde contacto@simonmarin.com_' }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "id": "wf4-notify-sent",
        "name": "Confirmar Email Enviado",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1680,
          0
        ],
        "webhookId": "b7890604-0bbf-4ee5-8c93-e025973c2da6",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "parameters": {
          "operation": "answerCallbackQuery"
        },
        "id": "wf4-answer-cancel",
        "name": "Responder Callback Cancelar",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          960,
          240
        ],
        "webhookId": "cf9b70c8-a7ec-427f-a314-8f6c9eb54ebb",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Router tipo mensaje').first().json.chatId }}",
          "text": "❌ Correo cancelado. Para redactar uno nuevo, dime a qué dirección y el contexto.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "wf4-notify-cancel",
        "name": "Notificar Cancelación",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1200,
          240
        ],
        "webhookId": "dfbcfceb-4782-44dc-8a13-038adcfaec65",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Router tipo mensaje').first().json.chatId }}",
          "text": "✅ Anotado. Aplicaré esta instrucción en los próximos correos.",
          "additionalFields": {
            "appendAttribution": false
          },
          "jsCode": "const chatId = $('Router tipo mensaje').first().json.chatId;\nconst tipo = $('Router tipo mensaje').first().json.tipo;\nconst feedbackText = $('Router tipo mensaje').first().json.texto;\nconst sd = $getWorkflowStaticData('global');\nconst draft = sd['draft_' + chatId] || null;\nconst hasRealDraft = !!(draft && draft.toEmail && draft.cuerpo);\n\n// Only allow regen path for explicit feedback with a real draft\nconst hasDraft = hasRealDraft && tipo === 'feedback';\n\nreturn [{ json: { hasDraft, shouldSave: tipo === 'guardar_memoria', draft: draft || {}, feedbackText, chatId, tipo } }];"
        },
        "id": "wf4-fallback-msg",
        "name": "Verificar Draft Pendiente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          640
        ],
        "webhookId": "abae8048-1304-4d7a-8da8-6b424109d4c6",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "or",
            "conditions": [
              {
                "id": "tc1",
                "leftValue": "={{ $json.tipo }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "rightValue": "confirmar_texto"
              },
              {
                "id": "tc2",
                "leftValue": "={{ $json.tipo }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "rightValue": "cancelar_texto"
              }
            ]
          },
          "options": {}
        },
        "id": "wf4-if-text-confirm",
        "name": "¿Confirmación por texto?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          512
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "tcc1",
                "leftValue": "={{ $json.tipo }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "rightValue": "confirmar_texto"
              }
            ]
          },
          "options": {}
        },
        "id": "wf4-if-text-type",
        "name": "¿Confirmar o Cancelar Texto?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          960,
          496
        ]
      },
      {
        "parameters": {
          "jsCode": "const chatId = $('Router tipo mensaje').first().json.chatId;\nconst sd = $getWorkflowStaticData('global');\nconst draft = sd['draft_' + chatId] || {};\ndelete sd['draft_' + chatId];\nreturn [{ json: { chatId, callbackQueryId: '', toEmail: draft.toEmail || '', asunto: draft.asunto || '', cuerpo: draft.cuerpo || '', hasDraft: !!(draft.toEmail) } }];"
        },
        "id": "wf4-load-draft-text",
        "name": "Cargar Draft (texto)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          304
        ]
      },
      {
        "parameters": {
          "fromEmail": "\"Simón Marín Rojas\" <contacto@simonmarin.com>",
          "toEmail": "={{ $('Cargar Draft (texto)').first().json.toEmail }}",
          "subject": "={{ $('Cargar Draft (texto)').first().json.asunto }}",
          "html": "=<!DOCTYPE html>\n<html>\n<head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"></head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,sans-serif;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;padding:20px 0;\">\n    <tr><td align=\"center\">\n      <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 8px rgba(0,0,0,0.1);\">\n        <tr><td style=\"background-color:#1a2744;padding:30px 40px;text-align:left;\">\n          <h1 style=\"color:#ffffff;margin:0;font-size:24px;font-weight:bold;letter-spacing:1px;\">SIMÓN MARÍN ROJAS</h1>\n          <p style=\"color:#a0b0c8;margin:5px 0 0 0;font-size:13px;\">Ingeniero Comercial &nbsp;·&nbsp; Analista de Procesos y Automatización</p>\n        </td></tr>\n        <tr><td style=\"height:3px;background:linear-gradient(to right,#1a2744,#c8a84b);\"></td></tr>\n        <tr><td style=\"padding:35px 40px;\">\n          <p style=\"color:#333333;font-size:15px;line-height:1.7;margin:0;\">{{ ($('Cargar Draft (texto)').first().json.cuerpo || '').replace(/\\n/g,'<br>') }}</p>\n        </td></tr>\n        <tr><td style=\"height:1px;background-color:#e0e0e0;margin:0 40px;\"></td></tr>\n        <tr><td style=\"padding:25px 40px;text-align:center;\">\n          <img src=\"http://simonmarin.com/wp-content/uploads/2026/03/Simon-Marin.png\" width=\"70\" height=\"70\" style=\"border-radius:50%;border:3px solid #ffffff;display:block;margin:0 auto 12px auto;\" alt=\"Simón Marín\">\n          <p style=\"margin:0;font-size:16px;font-weight:bold;color:#1a2744;\">Simón Marín Rojas</p>\n          <p style=\"margin:4px 0;font-size:12px;color:#666;\">Ingeniero Comercial | Analista de Procesos y Automatización</p>\n          <p style=\"margin:4px 0;font-size:12px;color:#1a2744;\"><a href=\"mailto:contacto@simonmarin.com\" style=\"color:#1a2744;text-decoration:none;\">contacto@simonmarin.com</a> &nbsp;·&nbsp; +56 9 8401 3356 &nbsp;·&nbsp; Santiago, Chile</p>\n          <a href=\"https://reuniones.smr.bz/expert/simon.marin?start=scheduling\" style=\"display:inline-block;margin:15px 0 5px 0;\">\n            <img src=\"http://simonmarin.com/wp-content/uploads/2026/02/AGENDAR-REUNION.gif\" width=\"200\" alt=\"Agendar Reunión\" style=\"border-radius:4px;\">\n          </a>\n          <p style=\"margin:12px 0 0 0;\">\n            <a href=\"https://simonmarin.com/\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/www.png\" width=\"28\" height=\"28\" alt=\"Web\"></a>\n            <a href=\"https://www.linkedin.com/in/simon-marin-rojas-perfil/\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/linkedin.png\" width=\"28\" height=\"28\" alt=\"LinkedIn\"></a>\n            <a href=\"https://api.whatsapp.com/send/?phone=56984013356&text=Hola,+buen+d%C3%ADa.+Quisiera+obtener+m%C3%A1s+informaci%C3%B3n.+Quedo+atento,+gracias.&type=phone_number&app_absent=0\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/wsp.png\" width=\"28\" height=\"28\" alt=\"WhatsApp\"></a>\n            <a href=\"mailto:contacto@simonmarin.com\" style=\"display:inline-block;margin:0 4px;\"><img src=\"http://simonmarin.com/wp-content/uploads/2026/03/@.png\" width=\"28\" height=\"28\" alt=\"Email\"></a>\n          </p>\n        </td></tr>\n        <tr><td style=\"background-color:#1a2744;padding:15px 0;text-align:center;\">\n          <img src=\"http://simonmarin.com/wp-content/uploads/2026/03/Banner_Blanco_SMR-X-297-X-68.png\" width=\"297\" height=\"68\" alt=\"SMR\" style=\"display:block;margin:0 auto;\">\n        </td></tr>\n        <tr><td style=\"background-color:#c8a84b;padding:8px;text-align:center;\">\n          <p style=\"margin:0;color:#1a2744;font-size:11px;font-style:italic;\">Convierto la complejidad diaria en decisiones claras</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>",
          "options": {
            "appendAttribution": false
          }
        },
        "id": "wf4-send-email-text",
        "name": "Enviar Email (texto)",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          1440,
          304
        ],
        "webhookId": "157970d8-9a39-45e1-97fc-d14f7bfe5f9f",
        "credentials": {
          "smtp": {
            "id": "PzG1HDuy5xJlmEQ5",
            "name": "Hostinger SMTP - Simón"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Cargar Draft (texto)').first().json.chatId }}",
          "text": "={{ '✅ *Correo enviado exitosamente*\\n\\n📧 *Para:* ' + $('Cargar Draft (texto)').first().json.toEmail + '\\n📌 *Asunto:* ' + $('Cargar Draft (texto)').first().json.asunto + '\\n\\n_El correo fue enviado desde contacto@simonmarin.com_' }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "id": "wf4-notify-sent-text",
        "name": "Confirmar Email Enviado (texto)",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1680,
          304
        ],
        "webhookId": "d5b92a48-348b-4f84-8756-cc6538756eb4",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Router tipo mensaje').first().json.chatId }}",
          "text": "❌ Correo cancelado. Para redactar uno nuevo, dime a qué dirección y el contexto.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "wf4-notify-cancel-text",
        "name": "Notificar Cancelación (texto)",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1200,
          464
        ],
        "webhookId": "4fa08c27-1aae-4952-8bb7-219ce83ad38c",
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        }
      },
      {
        "id": "wf4-leer-memoria",
        "name": "Leer Memoria Agente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          368
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/databases/3313b76e-193b-8006-aa1c-edfcd7846e5b/query",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "{\"filter\": {\"property\": \"Activo\", \"checkbox\": {\"equals\": true}}}",
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "{\"filter\":{\"property\":\"Activo\",\"checkbox\":{\"equals\":true}}}"
        },
        "credentials": {
          "notionApi": {
            "id": "jYJowf8nddngCyk0",
            "name": "Notion - Agente Laboral"
          }
        }
      },
      {
        "id": "wf4-formatear-memoria",
        "name": "Formatear Memoria",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          368
        ],
        "parameters": {
          "jsCode": "const pages = $input.all();\nif (pages.length === 0 || !pages[0].json.results) return [{ json: { memoryRules: '' } }];\n\nconst rules = pages[0].json.results.map(p => {\n  const nota = p.properties?.Nota?.rich_text?.[0]?.plain_text || '';\n  return nota;\n}).filter(Boolean).join('\\n- ');\n\nreturn [{ json: { memoryRules: rules ? `\\n\\nREGLAS DE MEMORIA:\\n- ${rules}` : '' } }];"
        }
      },
      {
        "id": "wf4-if-has-draft",
        "name": "¿Hay draft pendiente?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1160,
          640
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "hd1",
                "leftValue": "={{ Boolean($json.hasDraft) }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                },
                "rightValue": ""
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "wf4-prep-regen",
        "name": "Preparar Regeneración",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1360,
          560
        ],
        "parameters": {
          "jsCode": "const { draft, feedbackText, chatId } = $input.first().json;\n\nconst userPrompt = 'Regenera este email aplicando este cambio: ' + feedbackText + '\\n\\nEmail actual:\\n' +\n  'Para: ' + draft.toEmail + '\\n' +\n  'Asunto: ' + draft.asunto + '\\n' +\n  'Cuerpo: ' + draft.cuerpo + '\\n\\n' +\n  'CRÍTICO: NO incluyas firma, nombre, despedida ni Atentamente al final del cuerpo. La plantilla HTML agrega la firma automáticamente.\\n\\n' +\n  'Devuelve SOLO JSON válido sin markdown: {\"toEmail\": \"email@empresa.com\", \"asunto\": \"asunto profesional\", \"cuerpo\": \"texto del correo sin firma ni despedida al final\"}';\n\nreturn [{ json: { chatId, feedbackText, originalDraft: draft, userPrompt } }];"
        }
      },
      {
        "id": "wf4-groq-regen",
        "name": "Groq Regenera Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1560,
          560
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.groq.com/openai/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer REDACTED_GROQ_KEY"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', max_tokens: 1500, messages: [{ role: 'system', content: 'Eres el asistente de Simón Marín Rojas, Ingeniero Comercial y Analista de Procesos y Automatización (contacto@simonmarin.com | +56 9 8401 3356 | Santiago, Chile). Redactas emails profesionales de presentación en su nombre para empresas y reclutadores chilenos.\\n\\nREGLAS OBLIGATORIAS:\\n1. Estructura el cuerpo en 3-4 párrafos SEPARADOS por salto de línea doble (\\\\n\\\\n)\\n2. Párrafo 1: Presentación directa y propósito del contacto\\n3. Párrafo 2: Logros cuantificables más relevantes (automatización, reducción de costos, eficiencia)\\n4. Párrafo 3: Habilidades diferenciales específicas (n8n, Notion ERP, VPS, Google Apps Script)\\n5. Párrafo 4 (opcional): CTA para reunión o llamada\\n6. Tono: formal pero directo, sin frases genéricas ni clichés\\n7. NUNCA incluir firma, nombre, despedida ni Atentamente al final\\n8. NUNCA escribir todo en un solo párrafo\\n\\nPERFIL REAL DE SIMÓN (usa SIEMPRE estos datos concretos, no inventes cifras):\\n- Empresa: Bioproterra SpA (PYME construcción y servicios) — rol: Analista de Procesos y Sistemas\\n- Logro 1: Implementó ERP completo en Notion + Google Apps Script, automatizando más del 75% de los procesos operativos\\n- Logro 2: Redujo en 80% el tiempo de elaboración de contratos y documentación\\n- Logro 3: Automatizó el departamento de licitaciones completo (desde alerta de publicación hasta presentación final)\\n- Logro 4: Administra n8n self-hosted en VPS propio, integrando más de 8 sistemas de la empresa\\n- Formación: Ingeniería Comercial + Minor Emprendimiento e Innovación, UCN Coquimbo (egresado 2025)\\n- Stack técnico: n8n, Notion (ERP avanzado), Google Apps Script, Power BI, Excel avanzado, BPMN\\n- Diferencial único: combina perfil analítico-financiero con capacidad técnica real de implementación' }, { role: 'user', content: $('Preparar Regeneración').first().json.userPrompt }] }) }}",
          "options": {}
        }
      },
      {
        "id": "wf4-parse-regen",
        "name": "Parsear Email Regenerado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1760,
          560
        ],
        "parameters": {
          "jsCode": "const resp = $input.first().json;\nconst chatId = $('Preparar Regeneración').first().json.chatId;\nconst feedbackText = $('Preparar Regeneración').first().json.feedbackText;\n\nlet toEmail = '', asunto = '', cuerpo = '';\ntry {\n  const content = resp.choices?.[0]?.message?.content || resp.content?.[0]?.text || '';\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    toEmail = parsed.toEmail || '';\n    asunto = parsed.asunto || '';\n    cuerpo = parsed.cuerpo || '';\n  }\n} catch(e) {}\n\nreturn [{ json: { chatId, toEmail, asunto, cuerpo, feedbackText } }];"
        }
      },
      {
        "id": "wf4-save-regen",
        "name": "Guardar Draft Regenerado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1960,
          560
        ],
        "parameters": {
          "jsCode": "const { chatId, toEmail, asunto, cuerpo } = $input.first().json;\n\nconst sd = $getWorkflowStaticData('global');\nsd['draft_' + chatId] = { toEmail, asunto, cuerpo, ts: Date.now() };\n\nconst previewBody = cuerpo.length > 3000 ? cuerpo.substring(0, 3000) + '...' : cuerpo;\nconst preview = '✏️ *Correo actualizado:*\\n\\n' +\n  '*Para:* ' + toEmail + '\\n' +\n  '*Asunto:* ' + asunto + '\\n\\n' +\n  '*Cuerpo:*\\n' + previewBody +\n  '\\n\\n——\\n👆 *Usa los botones para confirmar o cancelar*';\n\nreturn [{ json: { chatId, preview, toEmail, asunto, cuerpo } }];"
        }
      },
      {
        "id": "wf4-send-regen-preview",
        "name": "Enviar Preview Regenerado",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2160,
          560
        ],
        "parameters": {
          "chatId": "={{ $json.chatId }}",
          "text": "={{ $json.preview }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown",
            "reply_markup": "{\"inline_keyboard\":[[{\"text\":\"✅ Confirmar y Enviar\",\"callback_data\":\"confirmar\"},{\"text\":\"❌ Cancelar\",\"callback_data\":\"cancelar\"}]]}"
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        },
        "webhookId": "73331e94-8d02-4c91-92dd-6f591a551583"
      },
      {
        "id": "wf4-save-feedback-notion",
        "name": "Guardar Feedback Notion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2360,
          560
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ parent: { database_id: '3313b76e-193b-8006-aa1c-edfcd7846e5b' }, properties: { Nombre: { title: [{ text: { content: ('Feedback: ' + $('Parsear Email Regenerado').first().json.feedbackText).substring(0, 80) } }] }, Nota: { rich_text: [{ text: { content: 'Feedback aplicado: ' + $('Parsear Email Regenerado').first().json.feedbackText + '\\nAsunto regenerado: ' + $('Parsear Email Regenerado').first().json.asunto } }] }, Activo: { checkbox: true }, Fecha: { date: { start: $now.format('yyyy-MM-dd') } }, Sección: { select: { name: 'Notas de Comportamiento' } } } }) }}",
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi"
        },
        "credentials": {
          "notionApi": {
            "id": "jYJowf8nddngCyk0",
            "name": "Notion - Agente Laboral"
          }
        }
      },
      {
        "id": "wf4-save-instruccion-notion",
        "name": "Guardar Instrucción Notion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1360,
          760
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  parent: { database_id: '3313b76e-193b-8006-aa1c-edfcd7846e5b' },\n  properties: {\n    Nombre: { title: [{ text: { content: ('Instrucción: ' + $('Verificar Draft Pendiente').first().json.feedbackText).substring(0, 100) } }] },\n    Nota: { rich_text: [{ text: { content: 'Instrucción permanente guardada por el usuario.' } }] },\n    Activo: { checkbox: true },\n    Fecha: { date: { start: new Date().toISOString().split('T')[0] } },\n    Sección: { select: { name: 'Instrucciones' } }\n  }\n}) }}",
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi"
        },
        "credentials": {
          "notionApi": {
            "id": "jYJowf8nddngCyk0",
            "name": "Notion - Agente Laboral"
          }
        }
      },
      {
        "id": "wf4-confirm-guardado",
        "name": "Confirmar Guardado",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1560,
          760
        ],
        "parameters": {
          "chatId": "={{ $('Verificar Draft Pendiente').first().json.chatId }}",
          "text": "✅ Guardado en memoria. Lo aplicaré en el próximo correo que genere.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "rE6bL40aCajtjgBJ",
            "name": "Telegram Bot - SMR Job Agent"
          }
        },
        "webhookId": "27226e8f-388b-458d-93d4-c0bb47055a4a"
      },
      {
        "id": "wf4-notion-register-callback",
        "name": "Registrar Envío en Notion",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2200,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  icon: { type: 'external', external: { url: 'https://simonmarin.com/wp-content/uploads/2026/04/Correo-enviado.svg' } },\n  parent: { database_id: '2d03b76e-193b-8087-83c6-fae54ef2fe08' },\n  properties: {\n    'Nombre': { title: [{ type: 'text', text: { content: ($('Cargar Draft Guardado').first().json.toEmail || 'sin-destinatario').substring(0, 100) } }] },\n    'Estado': { status: { name: '📤 Enviada' } },\n    'Fecha de postulación': { date: { start: new Date().toISOString().split('T')[0] } },\n    'Correo persona': { email: $('Cargar Draft Guardado').first().json.toEmail || null },\n    'Asunto del correo': { rich_text: [{ type: 'text', text: { content: ($('Cargar Draft Guardado').first().json.asunto || '').substring(0, 2000) } }] },\n    'Cuerpo del correo': { rich_text: [{ type: 'text', text: { content: ($('Cargar Draft Guardado').first().json.cuerpo || '').substring(0, 2000) } }] }\n  }\n}) }}",
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "credentialType": "notionApi"
        },
        "credentials": {
          "notionApi": {
            "id": "jYJowf8nddngCyk0",
            "name": "Notion - Agente Laboral"
          }
        }
      },
      {
        "id": "wf4-notion-register-text",
        "name": "Registrar Envío en Notion (texto)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2200,
          500
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/pages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  icon: { type: 'external', external: { url: 'https://simonmarin.com/wp-content/uploads/2026/04/Correo-enviado.svg' } },\n  parent: { database_id: '2d03b76e-193b-8087-83c6-fae54ef2fe08' },\n  properties: {\n    'Nombre': { title: [{ type: 'text', text: { content: ($('Cargar Draft (texto)').first().json.toEmail || 'sin-destinatario').substring(0, 100) } }] },\n    'Estado': { status: { name: '📤 Enviada' } },\n    'Fecha de postulación': { date: { start: new Date().toISOString().split('T')[0] } },\n    'Correo persona': { email: $('Cargar Draft (texto)').first().json.toEmail || null },\n    'Asunto del correo': { rich_text: [{ type: 'text', text: { content: ($('Cargar Draft (texto)').first().json.asunto || '').substring(0, 2000) } }] },\n    'Cuerpo del correo': { rich_text: [{ type: 'text', text: { content: ($('Cargar Draft (texto)').first().json.cuerpo || '').substring(0, 2000) } }] }\n  }\n}) }}",
          "options": {},
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "notionApi",
          "credentialType": "notionApi"
        },
        "credentials": {
          "notionApi": {
            "id": "jYJowf8nddngCyk0",
            "name": "Notion - Agente Laboral"
          }
        }
      },
      {
        "id": "wf4-if-guardar-memoria",
        "name": "¿Guardar en Memoria?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1360,
          900
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "gm1",
                "leftValue": "={{ Boolean($json.shouldSave) }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                },
                "rightValue": ""
              }
            ]
          }
        }
      },
      {
        "id": "wf4-redis-flag",
        "name": "Redis: Marcar Email WF-04",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          700,
          368
        ],
        "credentials": {
          "redis": {
            "id": "jvpSbPg55kUlNd41",
            "name": "Redis - Agente Laboral"
          }
        },
        "parameters": {
          "operation": "set",
          "key": "={{ 'wf04:handled:' + $('Router tipo mensaje').first().json.chatId }}",
          "value": "1",
          "expire": true,
          "ttl": 10
        }
      }
    ],
    "connections": {
      "Telegram: Email Manual": {
        "main": [
          [
            {
              "node": "Router tipo mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Router tipo mensaje": {
        "main": [
          [
            {
              "node": "¿Es callback?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Es callback?": {
        "main": [
          [
            {
              "node": "¿Confirmar o Cancelar?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "¿Confirmación por texto?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Confirmación por texto?": {
        "main": [
          [
            {
              "node": "¿Confirmar o Cancelar Texto?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "¿Es solicitud de email?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Es solicitud de email?": {
        "main": [
          [
            {
              "node": "Redis: Marcar Email WF-04",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Verificar Draft Pendiente",
              "type": "main",
              "index": 0
            },
            {
              "node": "Verificar Draft Pendiente",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Redacta Email": {
        "main": [
          [
            {
              "node": "Guardar Draft y Preparar Preview",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Draft y Preparar Preview": {
        "main": [
          [
            {
              "node": "Enviar Preview con Botones",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Confirmar o Cancelar?": {
        "main": [
          [
            {
              "node": "Cargar Draft Guardado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responder Callback Cancelar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cargar Draft Guardado": {
        "main": [
          [
            {
              "node": "Responder Callback Confirmar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Callback Confirmar": {
        "main": [
          [
            {
              "node": "Enviar Email Manual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Email Manual": {
        "main": [
          [
            {
              "node": "Confirmar Email Enviado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Responder Callback Cancelar": {
        "main": [
          [
            {
              "node": "Notificar Cancelación",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Confirmar o Cancelar Texto?": {
        "main": [
          [
            {
              "node": "Cargar Draft (texto)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Notificar Cancelación (texto)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cargar Draft (texto)": {
        "main": [
          [
            {
              "node": "Enviar Email (texto)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Email (texto)": {
        "main": [
          [
            {
              "node": "Confirmar Email Enviado (texto)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Memoria Agente": {
        "main": [
          [
            {
              "node": "Formatear Memoria",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Formatear Memoria": {
        "main": [
          [
            {
              "node": "OpenRouter Redacta Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Hay draft pendiente?": {
        "main": [
          [
            {
              "node": "Preparar Regeneración",
              "type": "0",
              "index": 0
            }
          ],
          [
            {
              "node": "¿Guardar en Memoria?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Regeneración": {
        "main": [
          [
            {
              "node": "Groq Regenera Email",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Groq Regenera Email": {
        "main": [
          [
            {
              "node": "Parsear Email Regenerado",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Parsear Email Regenerado": {
        "main": [
          [
            {
              "node": "Guardar Draft Regenerado",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Draft Regenerado": {
        "main": [
          [
            {
              "node": "Enviar Preview Regenerado",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Preview Regenerado": {
        "main": [
          [
            {
              "node": "Guardar Feedback Notion",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Instrucción Notion": {
        "main": [
          [
            {
              "node": "Confirmar Guardado",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Draft Pendiente": {
        "main": [
          [
            {
              "node": "¿Hay draft pendiente?",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Confirmar Email Enviado": {
        "main": [
          [
            {
              "node": "Registrar Envío en Notion",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "Confirmar Email Enviado (texto)": {
        "main": [
          [
            {
              "node": "Registrar Envío en Notion (texto)",
              "type": "0",
              "index": 0
            }
          ]
        ]
      },
      "¿Guardar en Memoria?": {
        "main": [
          [
            {
              "node": "Guardar Instrucción Notion",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Redis: Marcar Email WF-04": {
        "main": [
          [
            {
              "node": "Leer Memoria Agente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Proterra Constructora",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-07T01:26:15.246Z",
        "id": 976,
        "workflowId": "Tf1MIWqHpQ9NKZpa",
        "versionId": "7288fb30-08c8-4389-804f-09481c29d96d",
        "event": "activated",
        "userId": "ea31d4b3-ce56-4b92-8bc8-04d17a093ead"
      },
      {
        "createdAt": "2026-04-07T01:26:15.108Z",
        "id": 975,
        "workflowId": "Tf1MIWqHpQ9NKZpa",
        "versionId": "7288fb30-08c8-4389-804f-09481c29d96d",
        "event": "deactivated",
        "userId": "ea31d4b3-ce56-4b92-8bc8-04d17a093ead"
      }
    ]
  }
}